<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Usmej saa</title>
</head>
<body>
    <center><h1>Dačo sa pokazilo</h1></center>
    <center><h2>Kontaktuj Žanetku.</h2></center>
    <center><h2>Alebo čakaj.</h2></center>
    <center><h2>A nezabudny na úsmev.</h2></center>

</body>
</html>