body {
    background-color: #121212;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 50px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

input[type=text] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 60%;
    max-width: 500px;
    margin-right: 10px;
}

button[type=submit] {
    padding: 10px 30px;
    border-radius: 24px;
    border: none;
    background-color: #BB86FC;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #663399;
}

@media (max-width: 768px) {
    input[type=text] {
        width: 80%;
        max-width: none;
        margin-right: 0;
        margin-bottom: 10px;
    }

    button[type=submit] {
        width: 80%;
    }
}